<ion-header>
  <ion-navbar>
    <ion-title>My Note App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngFor="let note of noteList">
  <ion-card>
    
      <ion-card-header>
        <ion-grid>
            <ion-row>
              <ion-col col-6>{{note.header}}</ion-col>
              <ion-col col-3><ion-icon name="heart" (click)="note.disabled=!note.disabled"></ion-icon> </ion-col>
              <ion-col col-3 ><ion-icon name="logo-angular"></ion-icon> </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card-header>
    
      <ion-card-content>
        <textarea [disabled]="note.disabled" id="" cols="40" rows="5">
          {{note.content}}
        </textarea>
      </ion-card-content>
    
    </ion-card>
  </span>

  <ion-fab right bottom>
      <button ion-fab color="light" (click)="addNote()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
